# Code Verification

## Testing
### Functional vs Nonfunctional
- Functional testing: unit testing, integration testing, system testing, acceptance testing
- Nonfunctional testing: security testing, performance testing, usability testing, compatibility testing

## Debugging
Debuggers enable you to pause your application, step through your code line-by-line, and observe the state of variables and function parameters.

## Exception Handling
The process that a developer uses to manage those runtime exceptions (errors that occur while the application is running) within their code.
Errors that occur during the build process are referred to as errors, and aren't part of the exception handling process.
`try` and `catch`

Exceptions can be accessed and used to take corrective action when an error occurs in a program.
